<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDYjDsFj_YYy46tRtNx7WANXJGDRhNe6C4</string>
	<key>GCM_SENDER_ID</key>
	<string>968185735615</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.testProject</string>
	<key>PROJECT_ID</key>
	<string>phone-registration-23827</string>
	<key>STORAGE_BUCKET</key>
	<string>phone-registration-23827.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:968185735615:ios:c3c77f73ad839b5eaa990a</string>
</dict>
</plist>